

/* HEADER CSS  */
#Header .hours span i{
    font-size: 20px;
    margin-right: 8px;
}

#Header 
.hours, 
.headerCnt1 span{
    color: var(--thirdColor);
    font-family: var(--primaryfont);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.headerCnt1 i{
   font-size: 20px; 
   margin-right: 8px;
}

.headerCnt1 a{
    color: var(--thirdColor);
}

.headerCnt2 a{
    color: var(--thirdColor);
    font-family: var(--primaryfont);
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
    text-align: right;
    display: block;
    
}

.headerCnt2 button{
    background-color: transparent;
    border: 1px solid var(--thirdColor);
    padding: 8px;
    color: var(--thirdColor);
    transition: 0.45s;
}

.headerCnt2 button:hover{
    background-color: rgba(0, 0,0, 0.35);

}
/* hEADER CSS ENDS */
/* NavBar Css  */


.navbar .navbar-brand img{
    width: 90px;
    height: 60px;
}

.navbar .nav-item a{
    color: var(--secondcolor);
    font-family: var(--primaryfont);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-right: 30px;
}

.DeliveryIcon a{
    font-size: 35px;
    margin-right: 13px;
    color: var(--secondcolor);
    position: relative;
}

.DeliveryIcon span{
    position: absolute;
    top: 0px;
    left: 15px;
    color: var(--thirdColor);
    font-family: var(--primaryfont);
    font-size: 15px;
    font-style: normal;
    font-weight:600;
    line-height: normal;
    background-color: var(--secondcolor);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
}


.DeliveryImg img{
    width: 35px;
    height: 35px;
    margin-right: 45px;
}
   
.DeliveryCnt h1{
    color: var(--secondcolor);
    font-family: var(--primaryfont);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 10px;
    margin-right: 10px;
  }

.DeliveryCnt .NumberCnt a{
     color: var(--secondcolor);
     font-family: var(--primaryfont);
     font-size: 15px;
     font-style: normal;
     font-weight: 400;
     line-height: normal;
}

.Btn button{
    color: var(--FourColor);
    font-family:var(--primaryfont);
    font-size: 18px;
    font-weight: 700;
    line-height: normal;
    padding: 8px 20px;
    background-color: var(--primarycolor);
    border-radius: 10px;

}
/* NavBar Css Ends */

/* Items Banner Section css */

#ItemsBanner {
    background-image: url(/./asset/images/ItemsBanner/image_contact.jpg);
    width: 100%;
    height: 280px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#ItemsBanner h1{
    padding-top: 120px;
    color: var(--FourColor);
    font-family: var(--primaryfont);
    font-size: 35px;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}

#ItemsBanner p{
    color: var(--FourColor);
    text-align: center;
    font-family: var(--primaryfont);
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    padding: 0 320px ;
}

#ItemsBanner .contractBanner{
    background-image: url(../images/ItemsBanner/image_contact.jpg);
    width: 100%;
    height: 280px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Items Banner Section css Ends */


/* MY Account css */

.wrapper {
    position: relative;
    width: 580px;
    height: 625px;
    margin-top: 80px;
}

@media(min-width: 540px) {
    .wrapper {
        width: 600px;
    }
}

.wrapper .form {
    position: absolute;
    top: 0;
    left: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: var(--FourColor);
    border-radius: .5rem;
    box-shadow: 0 0 1rem 0 rgba(0 0 0 / .2);
}

.wrapper .form form h2 {
    text-align: center;
    text-transform: capitalize;
    color: var(--primarycolor);
    font-family: var(--primaryfont);
    font-size: 35px;
    font-weight: 700;
    line-height: normal;
}

.wrapper .form form .form-group {
    position: relative;
    /* width: 500px; */
    margin: 30px 0;

}

.wrapper .form form .form-group i,
.wrapper .form form .form-group label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 25px;
    text-transform: capitalize;
    color: rgba(0, 0,0, 0.35);
    padding: 0 8px;
    pointer-events: none;
    transition: all .5s ease;
}

.wrapper .form form .form-group i {
    left: 10px;
}

.wrapper .form form .form-group label {
    left: 10px;
}

.wrapper .form form .form-group input {
    width: 100%;
    height: 50px;
    padding: 0 16px;
    border-radius: 10px;
    border: none;
    outline: none;
    border: 2px solid var(--primarycolor);
    font-size: 25px;
    color: var(--primarycolor);
    background: transparent;
}

form .form-group input:focus~label,
form .form-group input:valid~label,
form .form-group input:focus~i,
form .form-group input:valid~i {
    top: 0 !important;
    font-size: 19px !important;
    background-color: var(--FourColor);
}

.wrapper .form form .forgot-pass {
    margin: -24px 0 24px;
}

.wrapper .form form .forgot-pass a {
    color: var(--primarycolor);
    text-decoration: none;
    font-size: 22px;
    text-transform: capitalize;
    transition: all .5s ease;
    
}

.wrapper .form form .forgot-pass a:hover {
    color: #000000;
}

.wrapper .form form .btn {
    background: var(--primarycolor);
    color: var(--thirdColor);
    width: 120px;
    height: 60px;
    font-size: 25px;
    font-weight: 400;
    outline: none;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.wrapper .form form .link {
    text-align: center;
    font-size: 20px;
    color: #000000;
    margin: 30px 0;
}

.wrapper .form form .link a {
    text-transform: capitalize;
    color: var(--primarycolor);
    text-decoration: none;
    font-weight: 600;
    transition: all .5s ease;
}

.wrapper .form form .link a:hover {
    color: #000000;
}

/* My Account css ends */

/* Contract section Css */


#Contract{
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
#Contract .addressCnt h2{
    margin-top: 25px;
    color: var(--primarycolor);
    font-family: var(--primaryfont);
    font-size: 35px;
    font-weight: 700;
    line-height: normal;
}

#Contract .addressCnt i{
    font-size: 22px;
    color: var(--primarycolor);
    margin-left: 10px;
}

#Contract .addressCnt p {
    color: var(--primarycolor);
    font-family: var(--primaryfont);
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
}


#Contract .addressCnt a{
    color: var(--primarycolor);
}

#Contract .MapsCnt{
    margin-top: 25px;
}


/* Contract section Css ends */